---
---

@import "{{ site.theme }}";

:root {
	--background: #000000; 
	--gold: #d6ba7c;
	--jade: #00a86b;
	--lightjade: #6ecc8c; 
	--purple: #6459c2; 
	--lightpurple: #8a8bd4; 
	--gray: #4e525c;
	--darkgray: #2a2a2a;
	--white: #ffffff;
	--cyan: #51bce0; 
	--base03: #002b36; 
	--base02: #073642; 
	--sol-yellow: #b58900; 
	--sol-orange: #cb4b16; 
	--sol-red: #dc322f; 
	--sol-magenta: #d33682; 
	--sol-violet: #6c71c4; 
	--sol-blue: #268bd2; 
	--sol-cyan: #2aa198; 
	--sol-green: #859900; 
}

/* Make slightly wider right column */

.wrapper {
  width: 100%;
  max-width: 860px;
  margin: 0 auto;
}

section {
  width: 100%;
  max-width:600px;
  float:right;
  padding-bottom:50px;
}

/* Import fonts */
@font-face {
    font-family: "Atkinson Hyperlegible";
    src: url("../fonts/AtkinsonHyperlegible-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible Bold";
    src: url("../fonts/AtkinsonHyperlegible-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Atkinson Hyperlegible Bold Italic";
    src: url("../fonts/AtkinsonHyperlegible-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Atkinson Hyperlegible Italic";
    src: url("../fonts/AtkinsonHyperlegible-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}


/* Assign background colors */
body {
  background: var(--background); 
}

code, .highlight {
  background: var(--darkgray); 
  font-family: Consolas, monospace; 
  color: var(--white);
  font-size: 10pt; 
}

/* Add spacing for legibility */
p, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin-top: 1em; 
  margin-bottom: 0.5em;
}

/* Prevents spacing from causing huge unordered list gaps */
ul { 
  margin: 0 0;
}

/* Text formatting */
body, p, strong {
  font-family: "Atkinson Hyperlegible", Segoe UI, sans-serif; 
  color: var(--white); 
  font-size: 12pt; 
}

small {
    font-size: 11pt; 
}

/* Turn links gold for fun */
a, a:hover {
    color: var(--gold); 
  }

/* Heading formatting */
h1, h2, h3, h4, h5, h6 {
  font-family: "Atkinson Hyperlegible", Segoe UI, sans-serif; 
  font-weight: normal; 
}

h1 {
  color: var(--lightjade); 
}

h2 {
  color: var(--lightjade); 
}

h3 {
  color: var(--lightpurple); 
  font-size: 15pt; 
}

h4 {
  color: var(--sol-cyan); 
  font-size: 13pt; 
}

h5 {
  color: var(--sol-blue);
}

