:root {
--default-font: Consolas, monospace;
}

/* Font for the markdown source panel */
div.markdown-source-view {
  font-family: Consolas, monospace !important;
  font-size: 12px; 
  padding: 0em;
}

/* Font for the markdown preview panel */
div.markdown-preview-view {
  font-family: 'Clear Sans', sans-serif !important;
  font-size: 12px;
  line-height: 1.5em;   
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0px; 
  margin-top: 0px; 
  padding: 0em;
  /* font-weight: 750;  */
  font-family: 'Clear Sans', sans-serif !important;
}

table thead tr th {
	text-align: left;
	font-size: 12 px;
}

tr {
  font-size: 12px;
}